@import '../../global.css';

.bookItem img {
    width: 100%;
    object-fit: cover;
}

.bookInfos {
    position: relative;
    height: 100%;
    /* padding: .5rem 0; */
    width: 100%;
}

.bookInfos h2 {
    margin: .25rem 0 0 0;
}

.bookInfos p {
    margin: 0;
}

.bookRate {
    position: relative;
    display: inline-block;
    /* margin-top: .75rem; */
}

.categoriesDiv {
    width: 100%;
    position: absolute;
    bottom: 1rem;
}

.category {
    padding: .25rem 1rem;
    border: 1px solid var(--category-border);
    background-color: var(--category-fill);
    color: var(--text-color);
    border-radius: 1rem;
}