@import '../../global.css';

.mainGrid {
    background-color: var(--general-background);
}

.bookListContainer {
    overflow-y: scroll;
    max-height: calc(100vh - 6rem);
    position: relative;
}

.bookListContainer::-webkit-scrollbar {
    width: .5rem;
}

.bookListContainer::-webkit-scrollbar-track {
    background: var(--scroll-background);
    border-radius: .25rem;
}

.bookListContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: .25rem;
}

.bookListContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}
