.graphsPaper {
    position: relative;
    height: calc(100% - 2.5rem);
    max-height: calc(100% - 2.5rem);
    width: calc(100% - 4rem);
    padding: .5rem 1rem;
    margin: .5rem 1rem;
}

.buttonContainers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: .5rem;
}
