@import '../../global.css';

.outerDiv {
    /* background-color: #e0e0e0; */
    background-color: var(--header-background);
    padding: 1rem 1rem;
    /* display: flex;
    justify-content: center; */
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
}

.paperContainer {
    background-color: var(--general-background) !important;
}
